{% extends "base.html" %}

{% block content %}
<img src="static/img/borsch.jpg" width="400">
<p>
    <strong>Ингридиенты</strong>
</p>
<ul>
    <li>свинина — 250–300 г</li>
    <li>картофель — 40 г</li>
    <li>лук репчатый — 1 шт.</li>
    <li>свёкла — 100 г</li>
    <li>морковь — 1 шт</li>
    <li>капуста — 45 г</li>
    <li>томат-паста — 70–80 г</li>
    <li>сахар — 10–15 г</li>
    <li>соль, специи — по вкусу</li>
</ul>
<p>
    <strong>Способ приготовления:</strong>
</p>
<ol>
    <li>Сварите бульон: доведите воду до кипения, добавьте мясо, морковь и луковицу целыми, уменьшите мощность до 4 из
        10 и варите 2–3 часа.
    </li>
    <li>Процедите бульон.</li>
    <li>Обжарьте свёклу до мягкости, добавьте уксус (13–15 г). В конце обжарки добавьте томатную пасту и сахар.</li>
    <li>Добавьте в бульон обжаренные овощи, доведите до кипения.</li>
    <li>Добавьте капусту и варите на медленном огне 10 минут.</li>
    <li>Добавьте картофель и варите, пока он не будет готов.</li>
    <li>Порубите зубчик чеснока и немного свежей петрушки, добавьте в суп.</li>
    <li>За несколько минут до готовности добавьте соль, сахар, специи.</li>
</ol>
{% endblock %}