{% extends "base.html" %}

{% block content %}
<img src="static/img/bread.jpg" width="400">
<p>
    <strong>Ингридиенты</strong>
</p>
<ul>
    <li>вода — 350 мл</li>
    <li>сахар — 1 ч. л. (5 г)</li>
    <li>дрожжи сухие — 1,5 ч. л. (8 г)</li>
    <li>соль — 1 ч. л. (5 г)</li>
    <li>растительное масло — 30 мл</li>
    <li>мука — 500 г</li>
</ul>
<p>
    <strong>Способ приготовления:</strong>
</p>
<ol>
    <li>В тёплую воду добавьте сахар и дрожжи, перемешайте, накройте плёнкой и оставьте на 10–15 минут для активации
        дрожжей.
    </li>
    <li>В миску или чашу миксера высыпьте просеянную муку, добавьте соль и перемешайте.</li>
    <li>Осадите активированные дрожжи и вылейте в муку с солью.</li>
    <li>Установите чашу на миксер и замешивайте тесто с помощью насадки «крюк».</li>
    <li>Добавьте растительное масло и ещё раз вымешивайте тесто до гладкости и эластичности в течение 3 минут.</li>
    <li>Сложите тесто конвертиком, сгибая поочерёдно стороны к центру, и округлите.</li>
    <li>Миску смажьте маслом, положите тесто, накройте пакетом и полотенцем и поставьте в тёплое место на подъём
        приблизительно на 1,20–1,30 часа.
    </li>
    <li>Разделите тесто на 2 равные части.</li>
    <li>Каждую часть округлите, подкатите и накройте пакетом.</li>
    <li>Поставьте хлеб выпекаться в заранее нагретую до 220 °С духовку на 20–25 минут. Режим: верх-низ, без конвекции.
    </li>
    <li>Достаньте хлеб из духовки и дайте остыть до тёплого состояния.</li>
</ol>
{% endblock %}