{% extends "base.html" %}

{% block content %}
<img src="static/img/croissant.jpg" width="400">
<p>
    <strong>Ингридиенты</strong>
</p>
<ul>
    <li>500 г пшеничной муки в/с</li>
    <li>1 куриное яйцо</li>
    <li>55 г сахара</li>
    <li>170 мл молока</li>
    <li>10 г соли</li>
    <li>150 мл воды</li>
    <li>8 г сухих дрожжей</li>
    <li>250 г сливочного масла жирностью не менее 82,5 %</li>
</ul>
<p>
    <strong>Способ приготовления:</strong>
</p>
<ol>
    <li>Просейте в ёмкость для замешивания теста муку, добавьте сахар и соль.</li>
    <li>В отдельной посуде смешайте тёплое молоко и воду, добавьте к жидким ингредиентам сухие дрожжи и размешайте их.
        Оставьте на несколько минут, чтобы запустить брожение.
    </li>
    <li>Добавьте разведенные дрожжи к сухим ингредиентам. Перемешайте массу в планетарном миксере насадкой-крюком для
        теста около 2 минут на малых оборотах. Если миксера нет, замесите тесто руками до получения однородной
        эластичной массы.
    </li>
    <li>Накройте лоток с тестом пищевой плёнкой и уберите в холодильник на ночь.</li>
    <li>Выложите круассаны на противень, застеленный пергаментом. Смажьте их смесью, приготовленной из 1 яйца, 20 мл
        молока и щепотки соли. Выпекайте круассаны в разогретой до 200 °C духовке.
    </li>
</ol>
{% endblock %}