{% extends "base.html" %}

{% block content %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
        <div class="card" style="width: 22rem;">
            <img src="https://1xleb.ru/upload/iblock/b7f/b7f4a227110598cab8c6ac563ee39791.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Хлеб</h5>
                <p class="card-text">Хлеб — хлебулочное изделие без начинки с влажностью более 19 % (по терминологии
                    ГОСТ
                    32677-2014 массой более 500 г), получаемое путём выпекания теста (состоящего как минимум из муки и
                    воды),
                    разрыхлённого дрожжами или закваской.</p>
                <a href="/bread" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 22rem;">
            <img src="https://1xleb.ru/upload/iblock/b7f/b7f4a227110598cab8c6ac563ee39791.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Хлеб</h5>
                <p class="card-text">Хлеб — хлебулочное изделие без начинки с влажностью более 19 % (по терминологии
                    ГОСТ
                    32677-2014 массой более 500 г), получаемое путём выпекания теста (состоящего как минимум из муки и
                    воды),
                    разрыхлённого дрожжами или закваской.</p>
                <a href="/bread" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 22rem;">
            <img src="https://1xleb.ru/upload/iblock/b7f/b7f4a227110598cab8c6ac563ee39791.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Хлеб</h5>
                <p class="card-text">Хлеб — хлебулочное изделие без начинки с влажностью более 19 % (по терминологии
                    ГОСТ
                    32677-2014 массой более 500 г), получаемое путём выпекания теста (состоящего как минимум из муки и
                    воды),
                    разрыхлённого дрожжами или закваской.</p>
                <a href="/bread" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 22rem;">
            <img src="https://1xleb.ru/upload/iblock/b7f/b7f4a227110598cab8c6ac563ee39791.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Хлеб</h5>
                <p class="card-text">Хлеб — хлебулочное изделие без начинки с влажностью более 19 % (по терминологии
                    ГОСТ
                    32677-2014 массой более 500 г), получаемое путём выпекания теста (состоящего как минимум из муки и
                    воды),
                    разрыхлённого дрожжами или закваской.</p>
                <a href="/bread" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}