{% extends "base.html" %}

{% block content %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
        <div class="card" style="width: 23rem;">
            <img src="static/img/bread.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title" align="center">Хлеб</h5>
                <p class="card-text">Хлеб — хлебулочное изделие без начинки с влажностью более 19 %, получаемое путём
                    выпекания теста,
                    разрыхлённого дрожжами или закваской.</p>
                <a href="/bread" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 23rem;">
            <img src="static/img/soup.jpg"
                 class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title" align="center">Грибной суп</h5>
                <p class="card-text">Грибной суп — это первое блюдо, основным ингредиентом которого являются грибы. Они
                    могут быть свежими, солёными, сушёными или маринованными. </p>
                <a href="/soup" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 23rem;">
            <img src="static/img/borsch.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title" align="center">Борщ</h5>
                <p class="card-text">Борщ — горячий заправочный суп на основе свёклы, которая придаёт ему характерный
                    красный цвет. Традиционное блюдо восточных славян.</p>
                <a href="/borsch" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 23rem;">
            <img src="static/img/croissant.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Круассан</h5>
                <p class="card-text">Круассан — небольшое мучное кондитерское изделие,
                    булочка в форме полумесяца из слоёного теста. Очень популярный продукт французской кухни, подаётся
                    на завтрак к кофе для взрослых или к какао для детей.</p>
                <a href="/croissant" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 23rem;">
            <img src="static/img/kulich.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Кулич</h5>
                <p class="card-text">Кулич — это мирской вариант церковного артоса, большого квасного хлеба, который выпекался в печи. Перед подачей на праздничный стол куличи украшают сахарной пудрой, цукатами, шоколадной крошкой или кондитерской помадкой. </p>
                <a href="/kulich" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}