{% extends "base.html" %}

{% block content %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
        <div class="card" style="width: 23rem;">
            <img src="static/img/bread.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title" align="center">Хлеб</h5>
                <p class="card-text">Хлеб — хлебулочное изделие без начинки с влажностью более 19 %, получаемое путём выпекания теста,
                    разрыхлённого дрожжами или закваской.</p>
                <a href="/bread" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 23rem;">
            <img src="static/img/soup.jpg"
                 class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title" align="center">Грибной суп</h5>
                <p class="card-text">Грибной суп — это первое блюдо, основным ингредиентом которого являются грибы. Они
                    могут быть свежими, солёными, сушёными или маринованными. </p>
                <a href="/soup" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 23rem;">
            <img src="static/img/borsch.jpeg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title" align="center">Борщ</h5>
                <p class="card-text">Борщ — горячий заправочный суп на основе свёклы, которая придаёт ему характерный
                    красный цвет.</p>
                <a href="/borsch" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 23rem;">
            <img src="https://1xleb.ru/upload/iblock/b7f/b7f4a227110598cab8c6ac563ee39791.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Хлеб</h5>
                <p class="card-text">Хлеб — хлебулочное изделие без начинки с влажностью более 19 % (по терминологии
                    ГОСТ
                    32677-2014 массой более 500 г), получаемое путём выпекания теста (состоящего как минимум из муки и
                    воды),
                    разрыхлённого дрожжами или закваской.</p>
                <a href="/bread" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 23rem;">
            <img src="https://1xleb.ru/upload/iblock/b7f/b7f4a227110598cab8c6ac563ee39791.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Хлеб</h5>
                <p class="card-text">Хлеб — хлебулочное изделие без начинки с влажностью более 19 % (по терминологии
                    ГОСТ
                    32677-2014 массой более 500 г), получаемое путём выпекания теста (состоящего как минимум из муки и
                    воды),
                    разрыхлённого дрожжами или закваской.</p>
                <a href="/bread" class="btn btn-primary">Посмотреть рецепт</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}