{% extends "base.html" %}

{% block content %}
<img src="static/img/kulich.jpg" width="400">
<p>
    <strong>Ингридиенты</strong>
</p>
<ul>
    <li>1 кг муки</li>
    <li>500 мл молока</li>
    <li>200 г сливочного масла</li>
    <li>100 мл растительного масла</li>
    <li>9 желтков</li>
    <li>350 г сахара</li>
    <li>50 мл коньяка</li>
    <li>1 ч. л. соли</li>
    <li>150 г цукатов</li>
    <li>150 г изюма</li>
</ul>
<p>
    <strong>Способ приготовления:</strong>
</p>
<ol>
    <li>Залейте цукаты с изюмом и коньяком и оставьте на час.</li>
    <li>Вытопите сливочное масло в духовке 30–40 минут при 160 °С, процедите и охладите.</li>
    <li>Дрожжи и ложку сахара разведите в 50 мл тёплого молока и оставьте на 20 минут. </li>
    <li>Смешайте оставшееся молоко и 200 г муки, добавьте туда опару, перемешайте и оставьте ещё на 40 минут.</li>
    <li>Взбейте желтки с сахаром и коньяком от цукатов и влейте в опару.</li>
    <li>Добавьте масло, постепенно введите муку и оставьте тесто в тепле на 2 часа.</li>
    <li>Вмешайте цукаты с изюмом, разложите тесто по формам, оставьте ещё на час и выпекайте куличи 40–60 минут при 180 °С.</li>
</ol>
{% endblock %}