{% extends "base.html" %}

{% block content %}
<img src="static/img/pancakes.jpg" width="400">
<p>
    <strong>Ингридиенты</strong>
</p>
<ul>
    <li>кефир (2,5–3,2 %) — 250 г</li>
    <li>мука пшеничная — 230 г</li>
    <li>яйцо куриное — 1 шт.</li>
    <li>сахар — 1–2 ст. л.</li>
    <li>соль — 1 щепотка</li>
    <li>сода — 0,5–1 ч. л. (без горки)</li>
    <li>растительное масло — для жарки</li>
</ul>
<p>
    <strong>Способ приготовления:</strong>
</p>
<ol>
    <li>В глубокую ёмкость влейте кефир. Он должен быть тёплым или хотя бы комнатной температуры.</li>
    <li>Добавьте в кефир яйцо (комнатной температуры), сахар, соль и ванилин.</li>
    <li>Частями добавляйте просеянную пшеничную муку высшего сорта и тщательно перемешивайте.</li>
    <li>Сода добавляется не в кефир, а в готовое тесто непосредственно перед жаркой. Тесто должно получиться очень
        густым.
    </li>
    <li>Аккуратно наберите столовую ложку теста, стараясь не затрагивать остальное тесто, и выпекайте оладушки.</li>
</ol>
{% endblock %}