{% extends "base.html" %}

{% block content %}
<img src="static/img/soup.jpg" width="400">
<p>
    <strong>Ингридиенты</strong>
</p>
<ul>
    <li>500 г грибов</li>
    <li>2 ст. л. сливочного масла</li>
    <li>2 л воды</li>
    <li>5 картофелин</li>
    <li>2 моркови</li>
    <li>1 корень петрушки</li>
    <li>1 луковица</li>
    <li>1 лавровый лист</li>
    <li>соль, перец</li>
</ul>
<p>
    <strong>Способ приготовления:</strong>
</p>
<ol>
    <li>Нарежьте грибы пластинками, обжарьте на сливочном масле, выложите в кастрюлю, залейте водой и полчаса проварите.</li>
    <li>Нарежьте картофель и морковь соломкой, а лук и корень петрушки — мелкими кубиками.</li>
    <li>Слегка обжарьте овощи, сложите в суп, добавьте специи и проварите ещё полчаса.</li>
</ol>
{% endblock %}